.tingle-modal-box {
  border-radius: 20px !important;
  background: #333 !important;
}

.tingle-modal-box__footer {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  background-color: #1e2124 !important;
}

.tingle-btn {
  border-radius: 10px !important;
}

.tingle-btn--primary {
  background-color: #003791 !important;
}

.tingle-btn--danger {
  background-color: #a62639 !important;
}

.tingle-btn--default {
  background-color: #0e0f10 !important;
}

#modal-content {
  text-align: center !important;
}